# File konfigurasi pribadi
.env
credentials.json
credentialbase64.txt
prompt.md
transaction-reports-filter.md
transaction-reports.md

# Folder node_modules
node_modules/

# File log
logError.txt

# File Excel
*.xlsx

# File Txt
*.txt

*.png